@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #7C3AED;
    --default: #1f2937;
    --background: #f5f6f9;
  }

  .dark {
    --color-primary: #fbbf24;
    --default: #f9fafb;
    --background: #151f28;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--default);
  transition: all 0.3s;
}


a {
  @apply text-primary font-semibold text-xl;
}

svg {
  color: var(--default);
}
